

.about__video {
  position: absolute;
  border-radius: 2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.08;
  z-index: 0;
  filter: grayscale(100%) brightness(130%) contrast(180%);
  overflow: hidden;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
  }

  
}

.about__text {
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    width: 85%;
    font-size: 13px;
    color: darken(grey, 5%);
    line-height: 65px;
    margin: 0;
    -webkit-animation: fadeinIndex 4s ease-out; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinIndex 4s ease-out; /* Firefox < 16 */
    -ms-animation: fadeinIndex 4s ease-out; /* Internet Explorer */
    animation: fadeinIndex 4s ease-out;


    @media (max-width: 767px) {
      font-size: 11px;
      line-height: 25px;
    }
  }
}

