.center-image{
  -webkit-animation: fadeinIndex 4s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinIndex 4s ease-out; /* Firefox < 16 */
  -ms-animation: fadeinIndex 4s ease-out; /* Internet Explorer */
  animation: fadeinIndex 4s ease-out;

  img, .video{
    margin-top: 30px;
    height:100%;
    
    object-fit: scale-down; 

    @media(min-width: 767px){
      margin-top: 70px;
    }

    @media(min-width: 1255px){
      margin-top: 25px;
    }
  } 

  img{
    width:72%;
    display: flex;
    margin-right: auto;
    margin-left: auto;

    @supports  (object-fit: scale-down) {
      object-fit: scale-down;
      max-height: 560px;
    }
    
  }
  
  .video{
    width:100%;
  }
}

.center-image-contact{
  -webkit-animation: fadeinIndex 4s ease-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeinIndex 4s ease-out; /* Firefox < 16 */
  -ms-animation: fadeinIndex 4s ease-out; /* Internet Explorer */
  animation: fadeinIndex 4s ease-out;

  img{
    display: flex;
    height: 30%;
    width:75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;    
    object-fit: scale-down;
    max-height: 450px;
    max-width: 550px;

   

    @media(max-width: 767px){
      width:85%;
      max-height: 300px;
      margin-top: 50px;
    }

    @media(min-width: 767px){
      margin-top: 70px;
    }
    @media(min-width: 1255px){
      margin-top: 25px;
    }
  }
}

.center-image-personal{
  @extend .center-image-contact;

  img {
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
    transition: all .2s;

    &:hover{
      transform: scale(1.05);
    }
    
    @media(max-width: 767px){
      max-height: 500px;
      margin-bottom: 50px;
    }
  }
}

