//Image Gallery Thumbnails
.image-gallery {
  .thumbnail:nth-child(odd){
    padding-left: 0px;
    padding-right: 0px;
  }

  img{
    border-style: none;
    cursor: pointer;  
  } 

  .thumbnail {

    &:hover{  
      opacity: 0.5;
    }
    
    img {
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
        animation: fadein 3s;
        max-height: 400px;
    }  
  }

  //Lightbox - Modal Images
  .modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:rgba(248,248,248, 0.9)
  }

  .modal-content {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: auto;
    max-width:90vw;
    max-height:90vh;
    border-radius: 0;
    animation-name: zoom-open;
    animation-duration: 0.6s;

    .mySlides {
      display: none;

      img{
        margin: 0px;
        max-height: 89vh;
      }
    }
  }

  /* The Close Button */
  .close {
    i {
      color: darken(grey, 30%);  
    }
    position: absolute;
    top: 2%;
    right: 6%;
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 767px){
      top: 2%;
      margin-top: 0px;
    }
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

  .prev,
  .next {
    cursor: pointer;
    padding: 6%;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    
    i {
      color: grey;  
    }
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: black;
  }
}

//Implement mobile version of Image Gallery
@media (max-width: 767px) {
    .next, .prev {
      display: none;
    }

    span.close{
      margin-top: 15%;
    }
}